driver = simulation
webSocketPort = 9002
serialPort = /dev/tty.usbserial-A104W010

io-config = [{"name":"start_button","pin":22,"type":"input_pullup","polarity":"active_low"},{"name":"start_button_illumination","pin":24,"type":"output","polarity":"active_high"},{"name":"cabinet_door_switch","pin":23,"type":"input_pullup","polarity":"active_low"},{"name":"juice_door_switch","pin":4,"type":"input_pullup","polarity":"active_low"}]


[pump.1]
pwm_value.0 = 0.2
flow_value.0 = 0.0008
pwm_value.1 = 0.4
flow_value.1 = 0.001
pwm_value.2 = 0.6
flow_value.2 = 0.0012
pwm_value.3 = 0.8
flow_value.3 = 0.0014
pwm_value.4 = 1.0
flow_value.4 = 0.0016

[pump.2]
pwm_value.0 = 0.2
flow_value.0 = 0.00081
pwm_value.1 = 0.4
flow_value.1 = 0.00101
pwm_value.2 = 0.6
flow_value.2 = 0.00121
pwm_value.3 = 0.8
flow_value.3 = 0.00141
pwm_value.4 = 1.0
flow_value.4 = 0.00161

[pump.3]
pwm_value.0 = 1.0
flow_value.0 = 0.00161

[pump.4]
pwm_value.0 = 1.0
flow_value.0 = 0.00161

[pump.5]
pwm_value.0 = 1.0
flow_value.0 = 0.00161

[pump.6]
pwm_value.0 = 1.0
flow_value.0 = 0.00161

[pump.7]
pwm_value.0 = 1.0
flow_value.0 = 0.00161

[pump.8]
pwm_value.0 = 1.0
flow_value.0 = 0.00161
